<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aplicación de Tareas</title>
</head>
<body>
    <h1>Etiquetas y Tareas en el Proyecto</h1>
    <p>Proyecto: {{ proyecto.nombre }}</p>
    <ul>
        {% for etiqueta in etiqueta_mostrar %}
            <li>Etiqueta: {{ etiqueta.nombre }}</li>
            <ul>
                {% for tarea in etiqueta.tarea.all %}
                    <li>Título: {{ tarea.titulo }}</li>
                    <li>ID Tarea: {{ tarea.id }}</li>
                {% endfor %}
            </ul>
        {% empty %}
            <p>No se han asociado etiquetas a las tareas de este proyecto.</p>
        {% endfor %}
    </ul>
</body>
</html>

