<!DOCTYPE html>
<html lang="es">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Tareas</title>
    <link rel="stylesheet" href="../../static/css/estilos.css">
</head>
<body>

    <header>
        <h1>Gestión de Tareas</h1>
    </header>

    {% block menu %}{% endblock %}
    
    <nav>
        <ul>
            <li><a href="{% url 'lista_proyectos' %}">URL 1</a></li>
            <li><a href=" {% url 'tareas_a_proyectos' id_proyecto=1 %}">URL 2</a></li>
            <li><a href="{% url 'usuarios_a_tareas' 7 %}">URL 3</a></li>
            <li><a href="{% url 'tareas_texto' 'time' %}">URL 4</a></li>
            <li><a href="{% url 'tareas_years' 2000 2005 %}">URL 5</a></li>
            <li><a href="{% url 'ultimo_usuario' id_proyecto=5 %}">URL 6</a></li>
            <li><a href="{% url 'comentario_palabra' 5 'reduce' 2023 %}">URL 7</a></li>
            <li><a href=" {% url 'etiquetas' 6 %}">URL 8</a></li>
            <li><a href="{% url 'usuarios_no_asignados' 4 %}<">URL 9</a></li>
            <li><a href="#">URL 10</a></li>
        </ul>
    </nav>

    

    {% block content %}
    {% endblock %}

    <footer>
        <p>&copy; 2023 Gestión de Tareas</p>
    </footer>

</body>
</html>