{% extends 'tareas/index.html' %}

{% block head %}
    <link rel="stylesheet" href="../../static/css/estilo.css">
{% endblock %}

{% block header %}
{% endblock %}


<h1>Mis proyectos:</h1>
{% block content %}
{% for proyecto in proyectos_mostrar %}
    <div class="contenido">
        <ul>
            <li type="circle">
                <h3>PROYECTO</h3>
                <h5>Nombre:</h5>{{ proyecto.nombre}}
                <h5>Descripción:</h5>{{ proyecto.descripcion }}
                <h5>Duración estimada:</h5>{{ proyecto.duracion_estimada }}
                <h5>Fecha de inicio:</h5>{{ proyecto.fecha_de_inicio }}
                <h5>Fecha de finalización:</h5>{{ proyecto.fecha_de_finalizacion }}
                <h5>Usuario creador:</h5>{{ proyecto.usuario_creador.nombre }}
                <h5>Usuarios</h5>
                {% for usuario in proyecto.colaboradores.all %}
                    <ul>
                        <li>
                            {{ usuario.nombre }}
                        </li>
                    </ul>
                {% endfor%}
                <h5>Tareas:</h5>
                <a href="{% url 'tareas_a_proyectos' id_proyecto=proyecto.id %}">Tareas asociadas a este proyecto...</a>
                <ul>
                    {# Prefetch: proyecto_de_tareas #}
                    {% for tarea in proyecto.tarea_set.all %}
                        <li>
                            <strong>Título:</strong> {{ tarea.titulo }}<br>
                            <strong>Descripción:</strong> {{ tarea.descripcion }}<br>
                            <strong>Prioridad:</strong> {{ tarea.prioridad }}<br>
                            <strong>Estado:</strong> {{ tarea.estados }}<br>
                        </li>
                    {% empty %}
                        <p>No hay tareas asociadas a este proyecto.</p>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
{% endfor %}
{% endblock %}






    
