{% extends 'tareas/base.html' %}

{% block head %}
    <link rel="stylesheet" href="../../static/css/estilo.css">
{% endblock %}

{% block header %}
{% endblock %}
{% block contenido%}
    <h1>Tareas asignadas a proyectos: </h1>
    <h5>Proyecto: {{ proyecto.nombre }}</h5>

    <h6>Tareas Asociadas:</h6>
    <ul>
        {% for tarea in tareas_asociadas %}
            <li>
                <strong>Título:</strong> {{ tarea.titulo }}<br>
                <strong>Descripción:</strong> {{ tarea.descripcion }}<br>
                <a href="{% url 'usuarios_a_tareas' tarea_id=tarea.id %}">Usuarios asignados...</a>
            </li>
           <br> 
        {% empty %}
            <p>No hay tareas asociadas a este proyecto.</p>
        {% endfor %}
    </ul>

{% endblock%}


