<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios No Asignados</title>
</head>
<body>
    <h3>Usuarios No Asignados a Tareas</h3>
    <h4>Tarea: {{ tarea.titulo }}</h4>

    <ul>
        {% for usuario in usuarios_no_asignados %}
            <li>{{ usuario.nombre }} {{ usuario.apellido }}</li>
        {% empty %}
            <li>No hay usuarios no asignados a esta tarea.</li>
        {% endfor %}
</body>
</html>
